<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.limerse.attributions.sample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.limerse.attributions.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.limerse.attributions.ListActivity"
            android:label="@string/attributions"
            android:parentActivityName="com.limerse.attributions.MainActivity"
            tools:targetApi="jelly_bean" />

        <activity
            android:name="com.limerse.attributions.DarkListActivity"
            android:label="@string/attributions"
            android:parentActivityName="com.limerse.attributions.MainActivity"
            android:theme="@style/Theme.AppCompat"
            tools:targetApi="jelly_bean" />

        <activity
            android:name="com.limerse.attributions.CustomListActivity"
            android:label="@string/attributions"
            android:parentActivityName="com.limerse.attributions.MainActivity"
            tools:targetApi="jelly_bean" />
    </application>

</manifest>